<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HelloForm</servlet-name>
        <servlet-class>HelloForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketForm</servlet-name>
        <servlet-class>TicketForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketList</servlet-name>
        <servlet-class>TicketList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginForm</servlet-name>
        <servlet-class>LoginForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketView</servlet-name>
        <servlet-class>TicketView</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketUpdate</servlet-name>
        <servlet-class>TicketUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TicketStatus</servlet-name>
        <servlet-class>TicketStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewTicketList</servlet-name>
        <servlet-class>NewTicketList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignTicket</servlet-name>
        <servlet-class>AssignTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamForm</servlet-name>
        <servlet-class>TeamForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserList</servlet-name>
        <servlet-class>UserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignTeamLeader</servlet-name>
        <servlet-class>AssignTeamLeader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignTeamUser</servlet-name>
        <servlet-class>AssignTeamUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamList</servlet-name>
        <servlet-class>TeamList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserTeamsList</servlet-name>
        <servlet-class>UserTeamsList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssignTeamTicket</servlet-name>
        <servlet-class>AssignTeamTicket</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeamUserList</servlet-name>
        <servlet-class>TeamUserList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetClient</servlet-name>
        <servlet-class>GetClient</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserForm</servlet-name>
        <servlet-class>UserForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserUpdate</servlet-name>
        <servlet-class>UserUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SurveyAnswerForm</servlet-name>
        <servlet-class>SurveyAnswerForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientList</servlet-name>
        <servlet-class>ClientList</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HelloForm</servlet-name>
        <url-pattern>/HelloForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketForm</servlet-name>
        <url-pattern>/TicketForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketList</servlet-name>
        <url-pattern>/TicketList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginForm</servlet-name>
        <url-pattern>/LoginForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketView</servlet-name>
        <url-pattern>/TicketView</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketUpdate</servlet-name>
        <url-pattern>/TicketUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TicketStatus</servlet-name>
        <url-pattern>/TicketStatus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewTicketList</servlet-name>
        <url-pattern>/NewTicketList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignTicket</servlet-name>
        <url-pattern>/AssignTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamForm</servlet-name>
        <url-pattern>/TeamForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserList</servlet-name>
        <url-pattern>/UserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignTeamLeader</servlet-name>
        <url-pattern>/AssignTeamLeader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignTeamUser</servlet-name>
        <url-pattern>/AssignTeamUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamList</servlet-name>
        <url-pattern>/TeamList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserTeamsList</servlet-name>
        <url-pattern>/UserTeamsList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssignTeamTicket</servlet-name>
        <url-pattern>/AssignTeamTicket</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeamUserList</servlet-name>
        <url-pattern>/TeamUserList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetClient</servlet-name>
        <url-pattern>/GetClient</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserForm</servlet-name>
        <url-pattern>/UserForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserUpdate</servlet-name>
        <url-pattern>/UserUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SurveyAnswerForm</servlet-name>
        <url-pattern>/SurveyAnswerForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientList</servlet-name>
        <url-pattern>/ClientList</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
